* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 5px 6px #08a05ca4;
  padding: 0 15px;
  box-sizing: border-box;
}

/*----------------------Header-----------------------------*/

header{
  width: 97%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  max-width: 1520px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #080808;
}

a{
  color: black;
  text-decoration:  none;
  text-transform: uppercase;
}
a:hover{
  color: blueviolet;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul{
  display: flex;
  padding: 0;
  margin: 0%;
}

header ul li{
  padding: 0 1rem;
}

header ul li a{
  font-weight: bold;
}

header .cart {
  position: relative;
  cursor: pointer;
}

header .cart img{
  width: 100px;
  height: 60px;
}
header .cart span{
  position: absolute;
  top: -1rem;
  right: -0.1rem;
  width: 1.5rem;
  height: 1.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #f59622;
}

/*-----------------INICIO----------------------------------------*/


/*-----------------Catalogo--------------------------------------*/
/*-----------------PRODUCTOS ---------------------------*/

.Tittle{
  font-size: 2,4rem;
  padding: 10rem 0 0 0;
  color: #00cfff;
}

.Productos{
  padding: 5rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}

.Producto{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
}

.Producto:hover{
  border: 6px solid #40cfff;

}

.Producto__img img{
  width: 250px;
}

.Producto__footer{
  padding: 1rem;
}

.Producto__footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family: Helvetica, sans-serif;
}

.Producto__footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 18px;
}

.Producto__footer .price{
  font-size: 2rem;
  color: #1a202c;
}

.Producto .buttom{
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 4rem;
  padding: 0 1rem;
  margin: 0.5rem;
}

.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
}

.buttom button{
  background-color: #ff4000;
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.buttom div{
  background-color: #79443b;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.buttom div a{
  columns: white;
  font-weight: 700;
}

.buttom div a:hover{
  color: white;
}

.buttom div button:hover{
  color: white;
}

/*---------Carrito---------------------------------------*/


.carritos{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}

.carrito{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  scale(1);
  width: 60%;
  height: 80%;
  border-radius: 8px;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: #ebecf5;
  opacity: 0; 
  visibility: hidden;
}

.carrito h2{
  text-align: center;
  font-size: 2rem;
}

.carrito.show{
  visibility: visible;
}

.carrito.show{
  transform: translate(-50%, -50%)
  scale(1.1);
  opacity: 1;
  visibility: visible;
}

.carrito__close box-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;
}

.carrito__close box-icon:hover{
fill: #ff7e00;
}

.carrito__center{
  width: 90%;
  margin: 0 auto;
  border: 1px solid #cd5700;
}

.carrito__item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
  1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px #cd5700;
  border-radius: 5px;
}

.carrito__item img{
  width: 9rem;
}

.carrito__item h3{
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.carrito__item .price{
  color: #1b1c22;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: -1rem;

}

.carrito__item box-icon{
  fill:#79443b;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: .3rem;
}

.carrito__item .cantidad{
  font-size: 2rem;
  font-weight: bold;
}

.carrito__item .remove__item box-icon{
  width: 60px;
  height: 80px;
  fill: crimson;
  margin-top: 2rem;
}

.carrito__footer{
  text-align: center;
  margin-bottom: 3rem;
}

.carrito__footer{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.carrito__footer .btn{
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  background-color: #1b1c22;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.carrito__footer .btn{
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  background-color: #bfff00;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.carrito__footer .btn:hover{
  background-color: #ff8c00;
  color: white;
}
/*---------Footer----------------------------------------*/

footer {
  width: 100%;
  background: #202020;
  color: white;
  
}

footer .container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

footer .container-body {
  display: flex;
  justify-content: space-between;

}

footer .colum1 {
  max-width: 400px;
}

footer .colum1 h1 {
  font-size: 22px;
}

footer .colum1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

footer .colum2 {
  max-width: 400px;

}

footer .colum2 h1 {
  font-size: 22px;
}

footer .row {
  margin-top: 20px;
  display: flex;
}

footer .row img {
  width: 36px;
  height: 36px;
}

footer .row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

footer .colum3 {
  max-width: 400px;
}

footer .colum3 h1 {
  font-size: 22px;
}

footer .row2 {
  margin-top: 20px;
  display: flex;
}

footer .row2 img {
  width: 36px;
  height: 36px;
}

footer .row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

footer .container-footer {
  width: 100%;
  background: #101010;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

footer .copyright {
  color: #C7C7C7;
}

footer .copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer .information a {
  text-decoration: none;
  color: #C7C7C7;
}

/*-------------Media----------------------*/

/*--------pie de paginas----------*/
@media screen and (max-width: 1100px) {

  footer .container-body {
    flex-wrap: wrap;
  }

  footer .colum1 {
    max-width: 100%;
  }

  footer .colum2,
  footer .colum3 {
    margin-top: 40px;
  }
}
/*-------------Carrito------------*/

@media only screen and (max-width:1000px) {
  .carrito__item{
    width: 92%;
  }

}

@media only screen and (max-width:700px) {
  .carrito {
    width: 100%;
    height: 100%;
    pad: 1rem;
  }

  .carrito__item h3{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:450px) {
  .carrito__item h3{
    display: .5rem;
  }
  .carrito__item .remove__item box-icon{
    width: 30px;
    height: 70px;
  }
}
